---
import Socials from "@components/Socials.astro";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<section
	id="hero"
	class="mb-16 grid grid-cols-1 items-center gap-10 md:grid-cols-2 md:items-start"
>
	<div class="profile-picture">
		<img
			src="/assets/profile.jpg"
			alt="Cristian Estarlich"
			class="rounded-2xl object-cover shadow-lg transition-all duration-300 hover:shadow-xl"
		/>
	</div>
	<div class="profile-text">
		<h2 class="mb-8 text-4xl font-bold tracking-tight text-skin-accent">
			Cristian Estarlich
		</h2>

		<p class="leading-relaxed">
			Hi there, I'm Cristian! A 32 years old guy based in Barcelona.
		</p>

		<p class="leading-relaxed">
			This is my place to write things that I have in my mind.
		</p>

		<p class="leading-relaxed">
			Probably you can expect a bit of chaos, technical things, techniques to be
			more productive and my thoughts in general.
		</p>

		<p class="leading-relaxed">
			Currently I'm working at TennisPoint as a technical lead, an ecommerce
			that sells tennis material and tennis clothes worldwide.
		</p>

		<p class="leading-relaxed">
			Coding is my passion. I started earning money as a programmer when I was
			just 19. My main tech stack is JavaScript and TypeScript, but I've worked
			with many other technologies, and I'm definitely not someone who's rigid
			about trying new things.
		</p>

		<p class="leading-relaxed">
			Don't doubt to reach me out via <a
				href="mailto:cestarlich.dev@gmail.com"
				class="text-skin-accent transition-colors hover:underline"
				>cestarlich.dev@gmail.com</a
			> for grab an online coffee and have a talk!
		</p>

		{
			// only display if at least one social link is enabled
			socialCount > 0 && (
				<div class="social-wrapper">
					<div class="social-links">Social Links:</div>
					<Socials />
				</div>
			)
		}
	</div>
</section>

<style>
	/* ===== Hero Section ===== */
	#hero {
		@apply pb-6 pt-8;
	}
	#hero h1 {
		@apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
	}
	#hero .rss-link {
		@apply mb-6;
	}
	#hero .rss-icon {
		@apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
	}
	#hero p {
		@apply my-3 text-lg text-skin-base/90 md:text-xl;
	}
	#hero h2 {
		@apply text-3xl md:text-4xl;
	}
	.profile-picture img {
		@apply w-full;
	}
	.social-wrapper {
		@apply mt-6 flex flex-col sm:flex-row sm:items-center;
	}
	.social-links {
		@apply mb-1 mr-2 whitespace-nowrap text-sm text-skin-base/70 sm:mb-0;
	}
</style>
